.idea/*
*.html
/data/*
*.pth
*/ResNet/data/*
*/__pycache__
*/NNI/data/*
*/NNI/output/*
*/TorchPruner/logs/*
*/TorchPruner/bert-base-uncased*
*/TorchPruner/distilbert-base-uncased*
*/TorchPruner/test-trainer/*
*/TorchPruner/*lib
*/TorchPruner/data/*
*/learn_hf/test-trainer/*
learn_hf/test-trainer/*
*/automl_rts.egg-info/*
automl_rts.egg-info/*
*__pycache__*
torch_pruning.egg-info/*
.vscode/*
*/fine_tuned_bert_hf_lib
sources/TorchPruner/bert_related/fine_tuned_bert_hf_lib
NNI/data/*
NNI/output/*
TorchPruner/logs/*
TorchPruner/bert-base-uncased*
TorchPruner/distilbert-base-uncased*
TorchPruner/test-trainer/*
TorchPruner/*lib

learn_hf/test-trainer/*
scripts/Visualization/data/*
build/*